body {
  background-color: white;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  position: absolute;
  top: 3%;
  right: 11%;
}

#lcd img{
  height:100px;
  width:450px;
  position: absolute;
  background-color: grey;
  top: 8%;
  left: 6%;
  border-radius: 10px;
}


button {
  position: absolute;
  border: 10;
  background: grey;
  border-radius: 4px;
  box-shadow: 5px 5px 5px black;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 62px 62px;
  transition: all .1s linear;
}

button:active {
  box-shadow: 0 2px 0 #6699FF;
  transform: translateY(3px);
}

#airHorn {
  top: 15%;
  left: 50%;
}

#siren {
  top: 15%;
  left: 61%;
}

#explosion {
  top: 15%;
  left: 72%;
}

#tuba {
  top: 15%;
  left: 83%;
}

#introducing {
  top: 35%;
  left: 50%;
}

#letgo {
  top: 35%;
  left: 61%;
}

#building {
  top: 35%;
  left: 72%;
}

#busy {
  top: 35%;
  left: 83%;
}

#jayz {
  top: 55%;
  left: 50%;
}

#getdown {
  top: 55%;
  left: 61%;
}

#phaser {
  top: 55%;
  left: 72%;
}

#luger {
  top: 55%;
  left: 83%;
}

#kick {
  top: 75%;
  left: 50%;
}

#clap {
  top: 75%;
  left: 61%;
}

#marc {
  top: 75%;
  left: 72%;
}

#marccon {
  top: 75%;
  left: 83%;
}

#big {
  top: 85%;
  left: 10%;
  background-color: white;
  padding: 15px 30px;
}

#yeezy {
  top: 85%;
  left: 16%;
  background-color: white;
  padding: 15px 30px;
}

#scarface {
  top: 85%;
  left: 22%;
  background-color: white;
  padding: 15px 30px;
}

#nas {
  top: 85%;
  left: 28%;
  background-color: white;
  padding: 15px 30px;
}

#qtip {
  top: 85%;
  left: 34%;
  background-color: white;
  padding: 15px 30px;
}