body {
  background-color: white;
}

/*.pad {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: black;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.pad:active {
  background-color: blue;
}*/

#lcd {
  height:100px;
  width:450px;
  position: absolute;
  background-color: grey;
  top: 8%;
  left: 6%;
}

button {
  position: absolute;
  border: 10;
  background: grey;
  border-radius: 4px;
  box-shadow: 5px 5px 5px black;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 62px 62px;
  transition: all .1s linear;
}

button:active {
  box-shadow: 0 2px 0 #6699FF;
  transform: translateY(3px);
}

#airHorn {
  top: 10%;
  left: 50%;
}

#siren {
  top: 10%;
  left: 61%;
}

#explosion {
  top: 10%;
  left: 72%;
}

#drop {
  top: 10%;
  left: 83%;
}










